@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{ /*input of reusable typography, color styles, etc /editing/changing the overall theme */
    --clr-primary: #192F57;
    --clr-secondary:  #4668A5;
    --clr-dark: #2C3333;
    --clr-light: #ffff;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  --font: "Poppins", sans-serif;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container{  /*margins and padding */     
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/*___________________________________________________________________________HOME_________________________________________________*/
/*--------------------------HEADER-------------------------*/
.header{
    padding: 5rem 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;   
    position: relative;
    z-index: 999;
}
.header__wrapper{
    display: flex;
    position: relative;
    align-items: center;
}

.header__logo{
    position: absolute; /*Lock logo on left*/
    left: 0;
}

.header__nav{
    margin: 0 auto;  /*Lock nav on center*/
}

.header__nav ul{ 
    display: flex;
    gap: 4rem;
}
.header__nav ul a{
    color: var(--clr-dark);
    font-weight: 700;
}
.header__nav ul a:hover{
    color: var(--clr-secondary);
}
.header__button{
    position: absolute; /*Lock button on right*/
    right: 0;
}
/*MOBILE RESPONSIVE*/
@media screen and (max-width: 520px) {
    .header__logo h5{
    display: none;
    }
    .header{
        position: fixed;
        width: 100%;
    }
    .header__nav ul{
        background-color: var(--clr-dark);
        height: 100vh;
        width: 100%;
        position: fixed;
        right: -100%; /*to hide the hamburger icon*/
        z-index: 99; /*para di tumagos*/
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .header__button{
        display:none;
    }
    .header__nav ul a{
        color: var(--clr-light);
    }
    
}
/*-------------------------BANNER-------------------------*/
.banner{
  background-image: url(./IMG/home\ banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 46.5rem 0;
}
.banner__text{
    font-size: 50px;
    font-weight: 700;
    color: var(--clr-primary);
    line-height: 7rem;
    margin-top: -35rem;
}
.toggle__menu{
    display: none;
}
.toggle__menu span{
    color: var(--clr-primary);
    width: 3rem;
    height: 0.3rem;
    border: 2px solid var(--clr-primary);
    border-radius: 1rem;
}
/*MOBILE RESPONSIVE*/
@media screen and (max-width: 520px) {
    .banner{
        height: 20%;
    }
    .banner__text{
        font-size: 35px;
        line-height: 4rem;
        padding-top: 5rem;
        text-align: center;
    }
    .toggle__menu{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .header__nav.open ul{
        right: 0;
        transition: all 0.5s ease;
    }
    .toggle__menu.open span:first-child{                /*ANIMATION ON HAMBURGER BUTTON*/
        transform: translate(0, 10px) rotate(225deg);
        transition: all 0.5s ease;
    }
    .toggle__menu.open span:nth-child(2){
        opacity: 0;
    }
    .toggle__menu.open span:last-child{
        transform: translate(0, -7.5px) rotate(-225deg);
        transition: all 0.5s ease;
    }
}

/*----------------------PROPERTIES SECTION & CARD-----------------------*/
.properties{
    background-color: var(--clr-secondary);
    background-size: cover;
    padding: 20rem;
}
.properties__wrapper .card{
    justify-content: center;
}
.properties__text p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--clr-light);
}
.properties__text h3{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: var(--clr-light);
    padding-bottom: 5rem;
}
.property__card{
    background: var(--clr-light);
    overflow: hidden;
    width: 30%; 
    padding-bottom: 5rem;
    
}
.card__content {
    margin: 2rem 2rem 2rem 2rem;
}
.card__content h4{
    font-size: 20px;
    font-weight: 700;
}
.card__content .location{
    margin-bottom: 2rem;
}
.info__row strong{
    font-weight: 700;
}
.info__row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}
.card__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.cards__wrapper{
    display: flex;
    flex: wrap;
    gap: 40px;
}
/*MOBILE RESPONSIVE*/
@media screen and (max-width: 520px){
    .properties{
        padding: unset;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .cards__wrapper { 
        display: flex; 
        flex-direction: column;  
        gap: 20px;  
    } 
    .property__card { 
        width: 100%;
        border-radius: 5rem; 
    }
    .properties__text h3{
        font-size: 30px;
        padding-bottom: 2rem;
    }
    .properties__text p{
        font-size: 15px;
    }
    

}
/*-----------------------------PRIORITY SECTION------------------*/
.priority{
    padding: 5rem;
}
.priority__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.priority__text h1{
    font-size: 50px;
    font-weight: 700;
    color: var(--clr-primary);
    margin-bottom: 2rem;
    margin-right: 1.5rem;
}
.priority__text p{
    line-height: 2.5rem;
    text-align: justify;
}
.priority .btn.bg--primary{
    margin-top: 4rem;
}
/*MOBILE RESPONSIVE*/
@media screen and (max-width: 520px){
    .priority{
        padding: 5rem;
    }
    .priority__wrapper{
        display: unset;

    }

}
/*-------------------------TESTIMONIALS SECTION-------------------*/
.testimonials{
    background-color: var(--clr-dark);
    background-size: cover;
}
.testimonial__wrapper{
    display: flex;
    gap: 5px;
}
.testimonial__image{
    width: 1200px;
    height: auto;   
}
.testimonial__text{
    color: var(--clr-light)
}
.testimonial__text p:first-child{
    margin-top: 15rem;
}
.testimonial__text h3{
    font-size: 35px;
    font-weight: 700;
    color: var(--clr-light);
    margin-top: 2rem;
}
.testimonial__text p:nth-of-type(2){
    text-align: justify;
    margin-right: 10rem;
    margin-top: 5rem;
    line-height: 2.5rem;
}
.testimonial__text h5{
    font-size: 25px;
    font-weight: 700;
    margin-top: 5rem;
}
/*MOBILE RESPONSIVE*/
@media screen and (max-width: 520px){
    .testimonials{
        padding: 2rem;
        justify-content: center;
    }
    .testimonial__wrapper{
        display: unset;

    }.testimonial__image{
    width: 400px;
    height: auto;   

    }
    testimonial__text p:first-child{
        margin-top: 5rem;
    }
    .testimonial__text{

    }

}

/*-----------------PROPERTIES PAGE----------------------*/
.homes{
    background-color: var(--clr-light);
    background-size: cover;
    padding: 7rem 0 0 0;
}
.homes h2{
    font-size: 30px;
    font-weight: 700;
    color: var(--clr-dark); 
    text-align: center;
}
.homes__wrapper{
    display: flex;
    gap: 2rem;
    padding-top: 5rem;
}
.homes__image{
    width: 3000px;
    height: auto;
}
.homes__text h3{
    font-size: 30px;
    font-weight: 700;
    color: var(--clr-dark);
    margin-top: 5rem;
}
.homes__text p{
    color: var(--clr-dark);
    margin-bottom: 3rem;
    text-align: justify;

}
.homes .footer{
    margin-top: -0.7rem;
}
.homes__image{
    width: 100%;
}
.homes__text{
    margin-top: -4rem;
}
/*MOBILE RESPONSIVE*/
@media screen and (max-width: 520px){
.homes__wrapper{
    display: block;
}
.homes h2{
    text-align: center;
    margin-top: 1rem;}
}

/*---------------------ABOUT PAGE | BANNER SECTION--------------------*/
.about{
  background-image: url(./IMG/about\ banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 18.5rem 0;
}
.about__text h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 5rem;
    color: var(--clr-primary);
}
.about__text p{
    line-height: 2.5rem;
    margin-right: 70rem;
    margin-bottom: 5rem;
}
@media screen and (max-width: 520px){
    .about{
        height: 30%;
    }
    .about__text h2{
        text-align: center;
    }
    .about__text p{
        margin: 0 3rem 3rem 3rem;
        text-align: center;
        margin-bottom: rem;
    }
    .about__button{
        text-align: center;

    }
}
/*---------------------ABOUT PAGE | OFFERS ----------------------------*/
.offers__wrapper{
    padding: 5rem;
}
.offers__card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.offers__wrapper h5{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}
.offers__wrapper p{
    line-height: 2.5rem;
    text-align: justify;
    margin-bottom: 5rem;
    
}
.offers__text{
    color: var(--clr-dark);
}
.offers__img{
    width:100%;
    height: 100%;
}
.offers__card{
    background: #D9D9D9;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2rem;

}
.offers__text h6{
    font-size: 20px;
    font-weight: 700;
    margin-top: 2rem

}
.offers__text p{
    line-height: 2.5rem;
    margin-top: 5rem

}
.offers__card .offers__text{
    padding: 3rem;
    margin-left: -20rem;
    margin-right: 5rem;
}
.property__card{
    margin-bottom: 2rem;
}
@media screen and (max-width:520px){
    .offers__card{
        display: block;
    }
    .offers__card .offers__text{
    padding: 3rem;
    margin-left: unset;
    margin-right: unset;
    text-align: center;
}
    }


/*-----------------------------CONTACTS PAGE--------------------------------*/

.contacts__wrapper {
    display: flex;
    gap: 2rem;    /* spacing between cards */
}
@media screen and (max-width: 520px){
    .contacts__wrapper{
        display: block;
        padding-top: 5rem;
    }
}

.contacts__card {
    display: flex;
    align-items: center;       /* vertically center icon and text */
    gap: 1rem;                 /* space between icon and text */
    background: var(--clr-light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.5rem;           /* internal spacing instead of margins */
    flex: 1;  
    margin-bottom: 2rem;                /* cards grow evenly */
}

.contacts__icon {
    flex: 0 0 60px;            /* fixed width for icon column */
    height: 60px;
    border-radius: 50%;        /* circular background */
    background: var(--clr-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.cards__text p {
    margin: 0;                 /* remove default margins */
    line-height: 1.5rem;
}
.cards__text p:last-child{
    font-weight: 700;
}

.cards__text p + p {
    margin-top: 0.5rem;        /* only add spacing between paragraphs */
}
.contacts__text h2{
    font-size: 40px;
    font-weight: 700;
}
.contacts__text p:first-child{
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.contacts__text h2{
    margin-bottom: 1.5rem;
}
.contacts__text p:last-child{
    margin-bottom: 3rem;
}
.contacts__wrapper{
    margin-bottom: 13.5rem;
    gap: 10rem;
}
.contact__form{
display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  gap: 20px;
  margin-top: 15rem;
}
@media screen and (max-width: 520px){
    .contact__form{
        display: unset;
        padding-top: 5rem;
    }
}
.contact__form input,
.contact__form textarea {
  padding: 1.5rem;
  border-radius: 15px;
  border: 1px solid #333;
  font-size: 16px;
  width: 100%;
  margin-bottom: 3rem;
}
.contact__form ::placeholder{
    font-weight: 700;
    color: var(--clr-dark);
}
.contact__form input{
    width: 350px;
}
.contact__form2 input, 
.contact__form2 textarea{
padding: 1.5rem;
  border-radius: 15px;
  border: 1px solid #333;
  font-size: 16px;
  width: 100%;
  font-weight: 700;
  
}
.contact__form2 ::placeholder{
      color: var(--clr-dark);
}
.contact__form2 input{
    margin-bottom: 3rem;
}
.contact__form2 textarea{
    padding-bottom: 20rem;
    margin-bottom: 3rem;
}
@media screen and (max-width: 520px){
    .contacts__wrapper{
        display: block;
    }
}












/*------------------------ASSETS--------------------------*/
.btn{
    display: inline-block;
    background-color: transparent;
    border: transparent;
    padding: 1rem 2rem;
    color: transparent;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn.bg--primary{
    background-color: var(--clr-primary);               /*BUTTION*/
    color: var(--clr-light);

}
.btn.bg--primary:hover{
    border: 1px solid var(--clr-primary);
    background-color: var(--clr-light);
    color: var(--clr-dark);
    transition: all 0.5s ease-in-out;
}
.btn.bg--dark{
    background-color: var(--clr-dark);
    color: var(--clr-light);

}
.btn.bg--dark:hover{
    border: 1px solid --clr-dark;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    transition: all 0.5 ease-in-out;
}
.no-bg-btn{
    color: var(--clr-primary);
}
.no-bg-btn:hover{
    color: var(--clr-secondary);
    transition: all 0.5 ease-in-out;

}
/*---------------------------FOOTER FORMAT--------------------------*/
.footer{
    background-color: var(--clr-primary);
    background-size: cover;
}
.footer__wrapper{
    padding: 4rem;
}
.homes .footer__wrapper{
margin-top: 7rem;
}
.footer__wrapper p{
    color: var(--clr-light);
    margin-left: -4rem;
}
/*MOBILE RESPONSIVE*/
@media screen and (max-width: 520px) {
    .footer__wrapper { 
    padding: 2rem; 
    } 
    .footer__wrapper p { 
    text-align: center; margin: 0 auto; 
    font-size: 12px;
    }
}
